* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

table,
td,
th {
  border: 2px solid #000;
  padding: 5px;
  border-collapse: collapse;
}
table {
  width: 1200px;
  max-width: 95%;
  margin: 10px auto;
}
.student__modal,
.mark__modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 5px 15px;
  transform: translateY(-20px);
  transition: 0.4s;
}
.active {
  opacity: 1;
  visibility: visible;
}
.active form {
  transform: translateY(0);
}
.canv {
  width: 800px;
  margin: 10px auto;
  background-color: #fff;
}
.cancel {
  background-color: #fd1014;
  border: 0;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.edit {
  background-color: rgb(20, 72, 28);
  border: 0;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.add {
  background-color: greenyellow;
}
